$hijau: #2ecc71;
$hijautua: #27ae60;
$biru: #3498db;
$birutua: #2980b9;
$ungu: #9b59b6;
$ungutua: #8e44ad;
$merah: #e74c3c;
$merahtua: #c0392b;
$orange: #e67e22;
$orangetua: #d35400;
$abu: #95a5a6;
$abutua: #7f8c8d;
$kuning: #f1c40f;
$kuningtua: #f39c12;
$toska: #1abc9c;
$toskatua: #16a085;
$aspal: #34495e;
$aspaltua: #34495e;
$silver: #ecf0f1;
$silvertua: #bdc3c7;
